# Dependencies
node_modules/

# Build output
dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# Local env files
.env*.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
